[submodule "Modules/CMake-SDL2"]
	path = Modules/CMake-SDL2
	url = https://github.com/tcbrindle/sdl2-cmake-scripts.git
[submodule "Modules/CMake-codecov"]
	path = Modules/CMake-codecov
	url = git://github.com/RWTH-ELP/CMake-codecov.git
[submodule "Dependencies/GLM/Source"]
	path = Dependencies/GLM/Source
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/Spdlog/Source"]
	path = Dependencies/Spdlog/Source
	url = https://github.com/gabime/spdlog.git
[submodule "Dependencies/Lodepng/Source"]
	path = Dependencies/Lodepng/Source
	url = https://github.com/lvandeve/lodepng.git
[submodule "Dependencies/Utf8/Source"]
	path = Dependencies/Utf8/Source
	url = https://github.com/nemtrif/utfcpp.git
[submodule "Dependencies/Catch2/Source"]
	path = Dependencies/Catch2/Source
	url = https://github.com/catchorg/Catch2.git
[submodule "Dependencies/Trompeloeil/Source"]
	path = Dependencies/Trompeloeil/Source
	url = https://github.com/rollbear/trompeloeil.git
[submodule "Dependencies/Mustache/Source"]
	path = Dependencies/Mustache/Source
	url = https://github.com/kainjow/Mustache.git
