[submodule "Modules/CMake-SDL2"]
	path = Modules/CMake-SDL2
	url = https://github.com/tcbrindle/sdl2-cmake-scripts.git
[submodule "Modules/CMake-codecov"]
	path = Modules/CMake-codecov
	url = git://github.com/RWTH-ELP/CMake-codecov.git
[submodule "Dependencies/GLM/Source"]
	path = Dependencies/GLM/Source
	url = https://github.com/g-truc/glm.git
[submodule "Dependencies/CppLinq/Source"]
	path = Dependencies/CppLinq/Source
	url = https://github.com/mrange/cpplinq.git
[submodule "Dependencies/GLFW/Source"]
	path = Dependencies/GLFW/Source
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/Json/Source"]
	path = Dependencies/Json/Source
	url = https://github.com/nlohmann/json.git
[submodule "Dependencies/Spdlog/Source"]
	path = Dependencies/Spdlog/Source
	url = https://github.com/gabime/spdlog.git
[submodule "Dependencies/Assimp/Source"]
	path = Dependencies/Assimp/Source
	url = https://github.com/assimp/assimp.git
[submodule "Dependencies/Lodepng/Source"]
	path = Dependencies/Lodepng/Source
	url = https://github.com/lvandeve/lodepng.git
[submodule "Dependencies/Utf8/Source"]
	path = Dependencies/Utf8/Source
	url = https://github.com/nemtrif/utfcpp.git
[submodule "Dependencies/Catch2/Source"]
	path = Dependencies/Catch2/Source
	url = https://github.com/catchorg/Catch2.git
[submodule "Dependencies/Trompeloeil/Source"]
	path = Dependencies/Trompeloeil/Source
	url = https://github.com/rollbear/trompeloeil.git
