#ifndef  {{project_name}}_GAME_LIB_H
#define  {{project_name}}_GAME_LIB_H

#include <Core/GameLib/IGameLib.h>
#include <Core/RTTI/RTTIStorage.h>

class {{project_name}}_GameLib : public Core::IGameLib
{
public:
    virtual ~{{project_name}}_GameLib();
    virtual void RegisterRTTI(RTTI::IStorage& storage) override;
};

#endif //{{project_name}}_GAME_LIB_H