#ifndef  {{project_name}}_GAME_LIB_H
#define  {{project_name}}_GAME_LIB_H

#include <Yage.h>

class {{project_name}}_GameLib
{

};

GAME_LIB_API void RegisterGameLib(Yage::Injector* injector);

#endif //{{project_name}}_GAME_LIB_H
