#include "RTTIEditorLoader.h"
{{#classes}}
#include "meta_{{class_name}}.h"
{{/classes}}

namespace Meta
{
    namespace Editor
    {
        void RegisterClasses(RTTI::IRegister& rtti)
        {
        {{#classes}}
            ::RTTI::RegisterType<typename {{{canonical_name}}}>(Utils::CompileString("{{{name}}}"), rtti);
        {{/classes}}
        }
    }
}