#include <Core/RTTI/RTTIEngineLoader.h>
{{#classes}}
#include "{{class_name}}.gen.h"
{{/classes}}

namespace Meta
{
    namespace Engine
    {
        void RegisterClasses(RTTI::IRegister& rtti)
        {
        {{#classes}}
            ::RTTI::RegisterType<typename {{{canonical_name}}}>(Utils::CompileString("{{{canonical_name}}}"), rtti);
        {{/classes}}
        }
    }
}

PUBLISH_RTTI_LAYER(RTTI::EngineLayer, &Meta::Engine::RegisterClasses);