#include <Core/RTTI/RTTIEngineLoader.h>
{{#classes}}
#include "meta_{{class_name}}.h"
{{/classes}}

namespace Meta
{
    namespace Engine
    {
        void RegisterClasses(RTTI::IStorage& storage)
        {
        {{#classes}}
            storage.RegisterType(Meta::GetType<typename {{{canonical_name}}}>());
        {{/classes}}
        }
    }
}