{{#classes}}
#include "meta_{{class_name}}.h"
{{/classes}}

namespace Meta
{
    void RegisterClasses()
    {
    {{#classes}}
        Meta::GetType<typename {{{canonical_name}}}>();
    {{/classes}}
    }
}